*{
    margin: 0px;
    padding: 0px;
    /* background: rgb(95, 119, 253); */
    background: var(--secondary-color);
    color: var(--text-color);
    font-family: var(--handWritten);
    color: var(--text-color);
}
:root{
    --primary-color:#AED6F1;
    --secondary-color:#C8E6C9;
    --tertiary-color:#D3D3D3;
    --text-color:#003366;
    --font:'Sono', sans-serif;
    --handWritten:'Patrick Hand', cursive;
}
#otherScrn{
    /* display: block; */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .show{
        display: none;
    }


    @media only screen and (max-width: 320px)
{
    body{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        box-sizing: border-box;
        height: 100vh;
        font-family: var(--handWritten);
        /* padding: 1em; */
    }
    .show{
        display: block;
    }
    
    #otherScrn{
    display: none;
    }
    
    
    div, h5{
        /* border: 1px solid green; */
        color: var(--text-color);
    }
    
    #msg{
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 0.2em;
    }
    
    #msg div{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    padding: 1em;
    }
    h1{
        /* font-size: 1.5em; */
        color:  rgb(14, 17, 48);
    }
    .impH, h1 span{
        font-family: var(--font);
        font-weight: 5000;
        letter-spacing: 0.2em;
        display: block;
    }
    
    
    
    
    #link{
        display: flex;
        justify-content: right;
        box-sizing: border-box;
        padding: 0.5em;
    }
    
    #punchLine{
        display: flex;
        justify-content: center;
    }
    
    
    a{
        font-family: var(--font);
        color: var(--text-color);
    }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    box-sizing: border-box;
    height: 100vh;
    font-family: var(--handWritten);
    /* padding: 1em; */
}
.show{
    display: block;
}

#otherScrn{
display: none;
}


div, h5{
    /* border: 1px solid green; */
    color: var(--text-color);
}

#msg{
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0.2em;
}

#punchLine div:nth-child(1){
    font-family: var(--font);
}

#msg div{
height: 70%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: left;
padding: 1em;
}
h1{
    /* font-size: 1.5em; */
    color:  rgb(14, 17, 48);
}
.impH, h1 span{
    font-family: var(--font);
    font-weight: 5000;
    letter-spacing: 0.2em;
    display: block;
}




#link{
    display: flex;
    justify-content: right;
    box-sizing: border-box;
    padding: 0.5em;
}

#punchLine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5em;
}


a{
    font-family: var(--font);
    color: var(--text-color);
}

}